.header-container {
    background-color: #f1f2f6;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
}
.header-container img{
    width: 60px;
    margin-right: 5px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container h2{
    color:#fa8231;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    color:black;
    padding: 10px 20px;
    border-radius: 20px;
}
nav a:hover{
   background-color:#fa8231;
   color: #fff;
}
.header-text{
    line-height: 7px;
    text-align: center;
    margin-bottom: 40px;
}